################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/laba1/.vs/laba1/v14
/laba1/bin/Debug
/laba1/obj/Debug
